{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"rules": {
		"class-methods-use-this": 2,
		"semi": 2,
		"no-console": "warn",
		"no-dupe-args": "error",
		"no-debugger": "warn",
		"no-unreachable": "error",
		"use-isnan": "error",
		"eqeqeq": "error",
		"no-global-assign": "warn",
		"no-alert": "warn",
		"curly": ["error", "all"],
		"init-declarations": ["error", "always"],
		"no-undef": ["error"],
		"yoda": "error",
		"wrap-iife": ["error", "inside"],
		"no-eq-null": "warn",
		"quotes": [
			2,
			"single",
			{
				"allowTemplateLiterals": true,
				"avoidEscape": true
			}
		]
	}
}
